html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Global Classes */

body{
    height: 100%;
    background-image: linear-gradient(45deg,#7FC3E4, #18E9F0,#0CF8B5);
}

h1{
    position: relative;
    
}

/*Specific classes */



.viewport {
  
}

.footer{
    position:relative;
    text-align: center;
    
}