body{
    font-family: 'Alagard';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    font-family: 'Alagard';
    font-weight: 400;
    font-size:  16px;
    color: #edf0f1;
    text-decoration: none;
    word-spacing: 0.1em;
}

header{
    background-color: #96897B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    word-spacing: 0.7em;
}

.logo{
    cursor: pointer;
}

nav .nav_links li {
    display:inline-block;
    padding: opx 120px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #0C7489;
}
