a{
    color: black;
}

a:hover{
    color: #ab8e8b;
}

header{
    background-color: #eec39a;
}

.viewport{
    background: url(/Arquivos/NavPage/images/beach.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
