@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body{
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    position: relative;
    width: 300px;
    margin-top: 5%;
    margin-left: 40%;
}

.background{
    background-image:  url(/Arquivos/Hub/Imagens/NOPathsCityProto1.svg);
}